@charset "UTF-8";

/*Aparelho em Pé*/

body {
    background: url(../imagens/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}