@charset "UTF-8";
/*
    em HTML é id = em CSS e #
    em HTML é class = em CSS e .
*/
body {
    background-color: #4E76E6;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #101930;
}

h1#principal{
    text-align: center;
}
/*
    Um id so pode ser usado uma vez
    Um class pode ser usado mais de uma vez
*/

h2 {
    color: #1D2B54;
}

.basico {
    color: #7c2d2d;
}

.intermediario {
    color: #7c632d;
}

.avançado {
    color: #2d7c31;
}
/*
    Pode-se usar 2 class numa mesma teg
    Pode-se usar um class e um id na mesma teg 
*/